<div class="row">
    <div class="col-md-6 offset-md-3">

      <form  (ngSubmit)="onSignin(f)" #f="ngForm">

          <h3>Sign In</h3>

          <div class="form-group">
              <label for="email">email</label>
              <input type="email" id="email" name="email" class="form-control" ngModel>
          </div>

          <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" class="form-control" name="password" ngModel>
          </div>

          <div class="form-group">
            <button class="btn btn-primary" type="submit"  [disabled]="!f.valid">Sign In</button>
          </div>

      </form>

    </div>
</div>